<h1>Email Caputre aka Subscribe/Unsubscibe options</h1>
<p>Ideal this will be a simple email list.  The create will be the addition of an email.
The read ...... ugh. i dunno yet.
The Update will be a link option to chancge how often your email recieves a message.
Delete will be the option of unsubscribing.
</p>
      <h5>Sign Up For Great Deals in your Email</h5>

      <%= form_for @subscriber do |f|%>
          <%= f.email_field :email, placeholder: "email" %></br>
          <%= f.submit %>
      <% end %>

      <%= link_to "Looking to unSubscribe? Click Here.", unsub_index_path %>


<!-- Saved erb code for drop down and radio button.  Untimately I would like to replace the link to the Unsub Manager view
to either of these form codes.  Hopefully letting the find_or_initialize_by only have to fuction once, and creating
less steps for the user -->

      <!--
      <%= select_tag :sub, options_for_select([['Yes', 'Yes'],['No', 'No']]), prompt: "Please Choose an option" %> -->

      <!-- Save for radio button option
              <%= radio_button_tag(:sub, 'yes') %>
              <%= label_tag(:sub_y, "Give me Great Deals!") %>
            </br>
              <%= radio_button_tag(:sub, 'no ') %>
              <%= label_tag(:sub_n, "Unsubscribe Me!") %>
            </br> -->
